<div class="container portfolio margin-top-60">
  <div class="row">
    <div class="col-lg-12 col-md-12 text-center">
      <h1>Portfolio - My Works</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="grid">
        <app-tabs>
          <app-tab [title]="'Web Sites'">
            <div *ngFor="let metadata of portfolioWebSitesMetadata; let i=index">
              <a href="{{metadata.webHref}}" target="_blank">
                <figure class="effect-lily">
                  <img src="{{metadata.iconPath}}" alt="{{metadata.title}}" />
                  <figcaption>
                    <div>
                      <h4>{{metadata.title}}
                        <a href="{{metadata.GitHref}}" *ngIf="metadata.gitlinkShow" target="_blank">
                          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                      </h4>
                      <p>{{metadata.technology}}</p>
                    </div>
                  </figcaption>
                </figure>
              </a>
            </div>
          </app-tab>
        </app-tabs>
      </div>
    </div>
  </div>
</div>
