<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item"><a class="link link--page" href="#page-home">Home</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-aboutme">About Me</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-services">Services</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-portfolio">Portfolio & Resume</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-ang2comp">Angular 2 Component Forms</a></div>
  <ul class="nav navbar-nav navbar-right nav-menu-list-right">
    <li>
      <a href="https://github.com/mushrath007" target="_blank" title="Github">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mushrath-m-4b873598/" target="_blank" title="LinkedIn">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="mailto:mushrath007@gmail.com?subject=Mail from Our Site" title="Mail Me">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>

<!-- pages stack -->
<div class="pages-stack">
  <!-- page -->
  <div class="page" id="page-services" data-content="Services">
    <app-services></app-services>
  </div>
  <div class="page" id="page-aboutme" data-content="About Me">
    <app-about-me></app-about-me>
  </div>
  <div class="page" id="page-ang2comp" data-content="Angular2">
    <app-angular-two-forms class="container-fluid"></app-angular-two-forms>
  </div>
  <div class="page" id="page-home" data-content="Home">
    <app-experiment></app-experiment>
    <!--<ng-datepicker [(ngModel)]="date" [options]="options"></ng-datepicker>-->
  </div>

  <div class="page" id="page-portfolio" data-content="Portfolio">
    <app-portfolio></app-portfolio>
  </div>
</div>
<!-- /pages-stack -->
<button class="menu-button"><span>Menu</span></button>
<button class="float">
  <span class="fa fa-arrow-left fa-2x my-float"> Click Here !!</span>
</button>

