

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent!important;
}

.float{
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 70px;
  height: 24px;
  /* padding: 0; */
  /* cursor: pointer; */
  border: none;
  pointer-events: none;
  outline: none;
  background: transparent;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  /* right: calc(100% - 100px); */
}

