<!-- navigation -->
<nav class="pages-nav">
  <div class="pages-nav__item"><a class="link link--page" href="#page-aboutme">About Me</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-portfolio">Portfolio</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-mywork">My Works</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-ang2comp">Angular 2 Component Forms</a></div>
  <div class="pages-nav__item"><a class="link link--page" href="#page-contactme">Contact Me</a></div>
  <ul class="nav navbar-nav navbar-right nav-menu-list-right">
    <li>
      <a href="https://github.com/mushrath007" target="_blank" title="Github">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/mushrath-m-4b873598/" target="_blank" title="LinkedIn">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="mailto:mushrath007@gmail.com?subject=Mail from Our Site" title="Mail Me">
        <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>

<!-- pages stack -->
<div class="pages-stack">
  <!-- page -->
  <div class="page" id="page-contactme" data-content="Contact Me">
    <div>
      <app-contact-me class="container-fluid"></app-contact-me>
    </div>
  </div>
  <div class="page" id="page-aboutme" data-content="About Me">
    <div>
      <app-about-me></app-about-me>
    </div>
  </div>
  <div class="page" id="page-portfolio" data-content="Portfolio">
    <div>
      <app-portfolio></app-portfolio>
    </div>
  </div>
  <div class="page" id="page-mywork" data-content="My Works">
    <div>
      <app-my-works></app-my-works>
    </div>
  </div>
  <div class="page" id="page-ang2comp" data-content="Angular2">
    <div>
      <app-angular-two-forms class="container-fluid"></app-angular-two-forms>
    </div>
  </div>

</div>
<!-- /pages-stack -->
<button class="menu-button"><span>Menu</span></button>
<button class="float click-here">
  <span class="fa fa-arrow-left my-float"> Click Here !!</span>
</button>
<p class="float-top-right">Toogle butterflies</p>
<label class="switch">
  <button type="button" id="butterflyOnOff" (click)="butterFlyOnOff()">
  </button>
  <span class="slider"></span>
</label>
