

.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent!important;
}

.float{
  position: absolute;
  z-index: 1000;
  top: 30px;
  left: 70px;
  height: 24px;
  /* padding: 0; */
  /* cursor: pointer; */
  border: none;
  pointer-events: none;
  outline: none;
  background: transparent;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  /* right: calc(100% - 100px); */
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 10s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
