<div class="container margin-top-60">
  <div class="row services">
    <div class="col-lg-12 col-md-12 text-center">
      <h1>services</h1>
      <p>What can I do</p>
    </div>
    <div class="col-md-12 services-body">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">idea</h4>
          <p>Help you start</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-code fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">coding and develop</h4>
          <p>Build your project</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">responsive design</h4>
          <p>All devices</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">valid code lines</h4>
          <p>Elegant &amp; Efficient code</p>
        </div>
      </div>
      <div class="col-md-12 margin-bottom-50 hidden-sm"></div>
      <div class="clearfix"></div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">analytics</h4>
          <p>Analyse your project</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-blind fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">accessibility</h4>
          <p>Universal access to your content</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">support</h4>
          <p>fast &amp; friendly</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="text-center">
          <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
          <h4 class="text-uppercase">publish</h4>
          <p>Get your project online</p>
        </div>
      </div>
    </div>
  </div>
</div>
